<div class="container mt-5">
  <h2 class="text-center mb-4">Editar Datos Personales</h2>

  <form>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastName" placeholder="Ingrese su apellido">
      </div>
    </div>

    <div class="mb-3">
      <label for="direction" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="direction" placeholder="Ingrese su dirección">
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="gender" class="form-label">Género</label>
        <select class="form-select" id="gender">
          <option selected disabled>Seleccione...</option>
          <option value= 2 >Masculino</option>
          <option value= 3 >Femenino</option>
          <option value= 0 >Otro</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="document" class="form-label">Tipo de documento</label>
        <select class="form-select" id="document">
          <option selected disabled>Seleccione...</option>
          <option value= 1 >DUI</option>
          <option value= 2 >Pasaporte</option>
          <option value= 3 >Licencia</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="country" class="form-label">País</label>
        <select class="form-select" id="country">
          <option selected disabled>Seleccione...</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="city" class="form-label">Ciudad</label>
        <select class="form-select" id="city">
          <option selected disabled>Seleccione...</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label for="numberDocument" class="form-label">Número de documento</label>
      <input type="text" class="form-control" id="numberDocument" placeholder="Ej. 12345678-9">
    </div>

    <div class="d-grid">
      <button type="button" class="btn btn-success">Guardar Cambios</button>
    </div>
  </form>
</div>
