<div class="container mt-5">
  <h2 class="text-center mb-4">Editar Usuario</h2>

  <form>
    <!-- Datos principales -->
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="email" placeholder="usuario@correo.com">
    </div>  

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Teléfono</label>
      <input type="tel" class="form-control" id="phoneNumber" placeholder="Ingrese su número">
    </div>

    <!-- Contraseña -->
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password">
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
      <input type="password" class="form-control" id="confirmPassword">
    </div>



    <div class="d-grid">
      <button type="button" class="btn btn-success">Guardar Cambios</button>
    </div>
  </form>
</div>
