<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="irHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="irProfile()" *ngIf="isLoggedIn()">Mi Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" *ngIf="isLoggedIn()">Mis Reservas</a>
          <ul class="dropdown-menu navbar-dark bg-dark">
            <li><a class="dropdown-item" href="#" style="color: rgb(199, 199, 199);">En Curso</a></li>
            <li><a class="dropdown-item" href="#" style="color: rgb(199, 199, 199);">Finalizadas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Promociones</a>
          <ul class="dropdown-menu navbar-dark bg-dark">
            <li><a class="dropdown-item" href="#" style="color: rgb(199, 199, 199);">Canjear Cupon</a></li>
            <li><a class="dropdown-item" href="#" style="color: rgb(199, 199, 199);">Nuevas Promociones</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="irProfile()">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Acerca de</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item d-flex">
          <a class="nav-link" href="javascript:void(0)"  (click)="cerrarSesion()" *ngIf="isLoggedIn()">Cerrar Sesión</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link" href="javascript:void(0)"  (click)="irRegister()" *ngIf="!isLoggedIn()">Registrarse</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link" href="javascript:void(0)"  (click)="irLogin()" *ngIf="!isLoggedIn()">Iniciar Sesión</a>
        </li>
      </ul>   
    </div>
  </div>
</nav>

<router-outlet></router-outlet>